<a href="https://colab.research.google.com/github/StevenHurJim/EjerciciosPythonModulo1/blob/main/Bienvenue_dans_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# Cargar el modelo en memoria RAM
import pickle
ModTreeBase = "ModelBase_Arbol.pkl"
with open(ModTreeBase, "rb") as ModFileEntren6: #rb importante para escritura
  ModBaseProduccion = pickle.load(ModFileEntren6)

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Nuev_Dat = pd.read_csv("https://raw.githubusercontent.com/robintux/Datasets4StackOverFlowQuestions/master/Titanic_test.csv")

In [9]:
Nuev_Dat.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [10]:
Nuev_Dat.pop("PassengerId")
Nuev_Dat.pop("Ticket")
Nuev_Dat.pop("Name")
Nuev_Dat.pop("Cabin")

Nuev_Dat.Pclass = Nuev_Dat.Pclass.apply(str)
Nuev_Dat.isnull().sum()

Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
dtype: int64

In [11]:
Nuev_Dat.Age = Nuev_Dat.Age.fillna(Nuev_Dat.Age.mean())
Nuev_Dat.Fare = Nuev_Dat.Fare.fillna(Nuev_Dat.Fare.mean())

In [12]:
for col in Nuev_Dat.dtypes[Nuev_Dat.dtypes == "object"].index :
  Col4Dummy = Nuev_Dat.pop(col)
  Nuev_Dat = pd.concat([Nuev_Dat, pd.get_dummies(Col4Dummy, prefix = col)], axis = 1)

In [13]:
Nuev_Dat

,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,34.50000,0,0,7.8292,0,0,1,0,1,0,1,0
1,47.00000,1,0,7.0000,0,0,1,1,0,0,0,1
2,62.00000,0,0,9.6875,0,1,0,0,1,0,1,0
3,27.00000,0,0,8.6625,0,0,1,0,1,0,0,1
4,22.00000,1,1,12.2875,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
413,30.27259,0,0,8.0500,0,0,1,0,1,0,0,1
414,39.00000,0,0,108.9000,1,0,0,1,0,1,0,0
415,38.50000,0,0,7.2500,0,0,1,0,1,0,0,1
416,30.27259,0,0,8.0500,0,0,1,0,1,0,0,1
417,30.27259,1,1,22.3583,0,0,1,0,1,1,0,0

In [14]:
NewForecast = ModBaseProduccion.predict(Nuev_Dat)
NewForecast

array([0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0])